* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
}

main {
  margin: 0 4rem;
}

@media (max-width: 768px) {
  /* main {
    margin: 1rem;
  } */
}

:root {
  --color-background: #fffdf2;
  --color-primary: #012fa8;
  --color-secondary: #0c7bd6;
  --color-accent1: #607740;
  --color-darkgreen: #858854;
  --color-salmonpink: #ffdcc1;
}

/* fonts 

.hedvig-letters-serif-<uniquifier> {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

font-family: salthouse, sans-serif;
font-style: normal;
font-weight: 400;

font-family: ink-free, sans-serif;
font-style: normal;
font-weight: 400;

*/

h1 {
  font-family: salthouse, sans-serif;
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  color: var(--color-primary);
}

h2,
h3,
h4,
p,
li {
  font-family: "Hedvig Letters Serif", serif;
  max-width: 750px;
}

h2 {
  font-size: 2rem;
}

p {
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
