---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <h1>About</h1>

    <section>
        <div></div>
        <div><img src="../" alt=""></div>
        <div></div>
    </section>
</Layout>