---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <h1>About</h1>

    <section class="section_about_1">
        <div class="img_div"><img class="img1" src="/assets/imgs_about/about_image_1.webp" alt="Sophia and Frederik"></div>
        <div class="text_div"><p class="text_about_1">Our target audience is anyone with a curiosity for food. 
            From those seeking a dedicated caterer, to home cooks looking for recipes </p></div>
    </section>

    <section class="section_about_2">
        <h2>OUR MISSION</h2>
        <p>Studio Cicróne is a culinary studio founded by siblings Sophia and Frederik. We focus on plant-based, organic food that supports both human health and the environment. With hands-on cooking and deep food system knowledge, we craft experiences that nurture people and planet.
Rooted in Food Studies and our family kitchen, we see cooking as a way to connect, celebrate the seasons, and explore creativity. 

<br> <br> Growing up, food was our joyful playground — experimenting, baking, and working with what was in season.
  After years abroad, we’ve reunited in Copenhagen to share our passion, skills, and love for wholesome food. <br> <br>At Studio Cicróne, we offer more than meals — we offer experiences that educate, inspire, and build community. Workshops, recipes, retreats, and catering all reflect our dedication to quality, sustainability, and joyful connection.
    For us, food isn’t just about taste — it’s about connection to each other, to nature, and to how we live.</p>
    </section>

    <section class="section_about_3">

        <div class="profile_1">

            <div class="profile-text_1">
              <h3>Sophia or Sofia Citron “I love to cook and bake, to eat, and to play.”</h3>
              <p>
                Inspired by people, family, and her studies in holistic nutrition and food science, she sees cooking as a form of cultural activism —
                a way to reconnect people with nature, support food sovereignty, and cultivate a healthy, colorful, and caring food culture.
                She is our cake and dessert master and loves to experiment with grandma's cakes or layer chocolate ganache desserts.
              </p>
              <img class="graphic_img" src="/assets/imgs_index/index_graphic-element.svg" alt="Graphic element">
            </div>

            <img src="/assets/imgs_about/about_img_2.webp" alt="Sophia Citron - Owner">

          </div>                

          <div class="profile_2">

            <div class="profile-text_2">
              <h3>Frederik is our focaccia and sauce master</h3>
              <p>
                He has a gift for layering flavors and creating bold, unexpected combinations — often with a no-waste mindset. 
                During his studies, 
                he specialized in food waste and continues to explore creative ways to reuse ingredients and cook more sustainably.
            </p> 
            <img class="graphic_img" src="/assets/imgs_index/index_graphic-element.svg" alt="Graphic element"> 
          </div>

              <img src="/assets/imgs_about/about_img_3.webp" alt="Frederik - Co-owner">

          </div>   

</section>

</Layout>

<style>

  h1{
    margin: 150px auto 3rem auto;
    font-size: 14vw;
  }

.section_about_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14vw auto;
}

.img_div{
  height: auto;
  width: 50vw;
}

.img1 {
  height: 100%;
  width: 100%;
  padding-right: 4vw;
}

.text_div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40vw;
}

.text_about_1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    line-height: 6.5vw;
    border-left: 3px solid black;
    padding: 2vw 0px 2vw 2vw;
}

.section_about_2 {
  max-width: 80vw;    
  margin: 0 auto;
  margin-bottom: 25px; 
  line-height: 28.5px;       
}

h2{
    text-align: center;
    padding-bottom: 6vw;
    font-size: 7vw;
    line-height: 40px;
    color: #012FA8;
    font-weight: 300;
}

.section_about_2 p{
  font-size: 15.5px;
}

.section_about_3{
max-width: 1100px;
margin: 0 auto 100px auto;
}

.profile_1, .profile_2   {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

h3{
  color: #012FA8;
  text-align: center;
}

.profile_1 p, .profile_2 p{
  color: #5496EF;
  padding-bottom: 5px;
}

.profile-text_1, .profile-text_2{
    line-height: 30px;
}

.profile-text_1 h3, .profile-text_2 h3{
    padding-bottom: 20px;
  }

.graphic_img{
  width: 100px;
  height: auto;
  align-self: center;
}

@media (min-width: 768px) {

  h1{
    font-size: 100px;
  }

  .section_about_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 150px auto;
}

.text_div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30vw;
}

.img_div{
  height: auto;
  width: 425px;
}

.img1 {
  height: 100%;
  width: 100%;
  padding-right: 70px;
}

    .text_about_1{
    font-size: 20px;
    line-height: 35px;
    max-width: 250px;
    padding: 2vw 0px 2vw 2vw;
}

h2{
    padding-bottom: 50px;
    font-size: 50px;
    line-height: 40px;
}

.section_about_2{
  max-width: 650px;
  padding-bottom: 75px; 
  line-height: 28.5px;      
}

.section_about_2 p{
    font-size: 20px;
    line-height: 40px;
}

.profile_1, .profile_2  {
    flex-direction: row;
    align-items: flex-start;
    max-width: 900px;
    gap: 105px;
  }

  .profile_1 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 2rem;
  }

  .profile_2 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 2rem;
 order: -1;
 border-radius: 5px;
  }

  .profile-text_2 img, .profile-text_1 img {
    margin-top: 20px;
  width: 100px;
    margin-left: 0;
}

}

</style>