---
import Layout from '../layouts/Layout.astro';
import MobileCards from '../components/ServicesCardMobile.astro';
import DesktopCards from '../components/ServicesCardDesktop.astro';
import ContactButton from '../components/ContactButton.astro';
import ServicesMenu from '../components/ServicesMenu.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>

    <h1>Services</h1>

    <p class="page_subtext">“Our passion is creating meaningful food experiences that connect people. With plant-based, organic ingredients and a focus on sustainability and collaboration, we offer events, workshops, retreats, and catering — all crafted with care and creativity.”</p>

<ServicesMenu></ServicesMenu>

  <div id="catering">
    <MobileCards
    title="Sustainable Catering" 
    imageSrc="/assets/imgs_services/services_card_image1.png" 
    text="We offer seasonal, organic catering for events of all sizes – from intimate dinners to weddings and brand launches. Our menus are built around local ingredients and low-waste cooking, always aiming to nourish both people and the planet."
     />

     <DesktopCards
     title="Sustainable Catering"
     imageSrc="/assets/imgs_services/services_card_image1.png"
     text="We offer seasonal, organic catering for events of all sizes – from intimate dinners to weddings and brand launches. Our menus are built around local ingredients and low-waste cooking, always aiming to nourish both people and the planet."
   
      />
</div>

<div id="events">
     <MobileCards
     title="Events" 
     imageSrc="/assets/imgs_services/services_card_image2.png" 
     text="We host events that bring people together through food, creativity, and thoughtful details. From intimate dinners and hands-on workshops to curated gatherings and special occasions — always with plant-based, organic food, seasonal flowers, and local products at the heart."
      />

      <DesktopCards
  title="Events"
  imageSrc="/assets/imgs_services/services_card_image2.png"
  text="We host events that bring people together through food, creativity, and thoughtful details. From intimate dinners and hands-on workshops to curated gatherings and special occasions — always with plant-based, organic food, seasonal flowers, and local products at the heart."
  class="reverse"
/>
</div>

<div id="retreats">
      <MobileCards
      title="Retreats" 
      imageSrc="/assets/imgs_services/services_card_image3.png" 
      text="We provide soulful, nourishing meals for retreats that support rest, reflection, and inner balance. Our menus are filled with wholesome, healthy dishes made from seasonal, organic ingredients – designed to energize, ground, and care for both body and mind."
       />

       <DesktopCards
       title="Retreats"
       imageSrc="/assets/imgs_services/services_card_image3.png"
       text="We provide soulful, nourishing meals for retreats that support rest, reflection, and inner balance. Our menus are filled with wholesome, healthy dishes made from seasonal, organic ingredients – designed to energize, ground, and care for both body and mind."
     />
</div>

<div id="workshops">
       <MobileCards
       title="Cooking Workshops" 
       imageSrc="/assets/imgs_services/services_card_image4.png" 
       text="Whether you’re a beginner or experienced cook, we focus on real skills, natural ingredients, and joyful food."
        />

<article class="workshops_desktop">
<h2>Cooking Workshops</h2>
<img src="/assets/imgs_services/services_card_image4_2.png" alt="Cooking workshops">
<p class="cooking_workshops_p">Whether you’re a beginner or experienced cook, we focus on real skills, natural ingredients, and joyful food.</p>
<div class="contact-button-wrapper">
<ContactButton></ContactButton>
</div>
</article>
</div>

<div id="recipes">
        <MobileCards
        title="Recipe Development" 
        imageSrc="/assets/imgs_services/services_card_image5.png" 
        text="We collaborate with brands, chefs, and publications to create recipes that reflect a thoughtful, nourishing, and natural approach to food. Always seasonal, always honest – from concept to styling and storytelling."
         />

         <DesktopCards
         title="Recipe Development"
         imageSrc="/assets/imgs_services/services_card_image5.png"
         text="We collaborate with brands, chefs, and publications to create recipes that reflect a thoughtful, nourishing, and natural approach to food. Always seasonal, always honest – from concept to styling and storytelling."

       />
</div>
<div id="nutrition">
         <MobileCards
         title="Nutrition" 
         imageSrc="/assets/imgs_services/services_card_image6.png" 
         text="We offer food support tailored to women’s health across all life stages – from hormonal balance to fertility and overall wellbeing. Rooted in holistic nutrition, our approach is gentle, grounded, and deeply nourishing."
          />

          <DesktopCards
          title="Nutrition"
          imageSrc="/assets/imgs_services/services_card_image6.png"
          text="We offer food support tailored to women’s health across all life stages – from hormonal balance to fertility and overall wellbeing. Rooted in holistic nutrition, our approach is gentle, grounded, and deeply nourishing."
                   class="reverse"
        />
</div>

<div id="consulting">
          <MobileCards
          title="Consulting" 
          imageSrc="/assets/imgs_services/services_card_image7.png" 
          text="We offer sustainable food consulting for both businesses and individuals.  From climate-friendly menus to reducing food waste – we make greener choices easy.  Together, we find solutions that fit your kitchen and your values."
           />

           <DesktopCards
           title="Consulting"
           imageSrc="/assets/imgs_services/services_card_image7.png"
           text="We offer sustainable food consulting for both businesses and individuals.  From climate-friendly menus to reducing food waste – we make greener choices easy.  Together, we find solutions that fit your kitchen and your values."
         />
</div>
         <ContactForm></ContactForm>



         <ul>

            <h3>Frequently Asked Questions</h3>

            <li>What kind of events do you cater to?</li>
            <p> ”We work with a range of occasions — from private parties and corporate events to workshops and retreats focused on learning and connection.”</p>

            <li>How formal or casual can the event be?</li>
            <p> ”Whether you want a relaxed gathering or a more formal occasion, we tailor the experience to fit.”</p>
            
            <li>How many guests can you accommodate</li>
            <p> ”We cater to events of all sizes. Just let us know your expected number of guests so we can plan the right portions.”</p>

            <li>How does the budget affect what you offer?</li>
            <p>”Your budget helps us choose the best menu and style for your event — from simple, nourishing options to more elaborate plated meals or buffets.”</p>

            <li>Can you accommodate dietary restrictions?</li>
            <p>”Absolutely, we cater to vegan, gluten-free, nut allergies, and other dietary needs. Just let us know in advance.”</p>

            <li>What kinds of dining experiences do you offer?</li>
            <p>”You can choose from casual buffets, plated dinners, or interactive food experiences. We also focus on plant-based and sustainable options.”</p>

            <li>Can you help with the event’s theme or vibe?</li>
            <p>”Yes! We work with you to design menus and presentations that match your event’s style — whether playful, elegant, vibrant, or something else.”</p>

            <li>I’m not familiar with plant-based or sustainable food — can you explain?</li>
            <p>”Of course! We’re happy to share how we approach plant-based and sustainable cooking, so you can make an informed choice that fits your event.”</p>

         </ul>

</Layout>


<style>

    html{
        scroll-behavior: smooth;
    }

[id] {
  scroll-margin-top: 100px;
}

h1{
    margin-top: 150px;
    font-size: 90px;
}
    .page_subtext{
        font-family: "ink-free";
        font-size: 3.25vw;
        max-width:80vw;
        margin: 0px auto 100px auto;
    }

    article{
        max-width:550px;
        margin: 30px auto;

    }

    h2{
        color:#012FA8;
        font-weight: 300;
        text-align: center;
        padding-bottom: 20px;
    }

article img{
    height: 100%;
    width: 100%;
}

.cooking_workshops_p{
    text-align: center;
    padding: 30px 0px 30px 0px;
    color: #012FA8;
}

h3{
    margin: 60px auto;
    color: #012FA8;
text-align: center;
}

ul{
    color: #012FA8;
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
}

li{
    padding-bottom: 5px;
}

p{
    padding-bottom: 30px;
    color: #5496EF;
}

@media (max-width: 768px) {
    .workshops_desktop{
        display: none;
    }
}

@media (min-width: 768px) {

    .page_subtext{
        font-size: 20px;
        max-width: 500px;
    }

    .cooking_workshops_p{
        line-height: 40px;
    }
    
    ul{
        max-width: 625px;
        margin-bottom: 90px;
    }

    li{
        font-size: 25px;
    }

    p{
        line-height: 30px;
    }

    article{
        min-width:650px;
        margin: 0 auto 100px auto;
        font-size: 22px;
    }

    .contact-button-wrapper {
  display: flex;
  justify-content: center;
}

h3{
    font-size: 30px;
    margin: 140px auto 45px auto;
    text-align: left;
}

}

</style>