<section id="contact-form" class="contact-form">
  <h2>Contact Form</h2>
  <p>Give us a message about your upcoming event and we will assemble the perfect menu for you</p>

  <form>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Name" required />
  
    <label for="mail">Mail</label>
    <input type="email" id="mail" placeholder="Mail" required />
  
    <div class="desktop_layout">
      <div class="desktop_layout_singular">
        <label for="service-type">Service type</label>
        <input type="text" id="service-type" placeholder="Service type" />
      </div>
  
      <div class="desktop_layout_singular">
        <label for="phone-number">Phone number</label>
        <input type="tel" id="phone-number" placeholder="Phone number" />
      </div>
    </div>
  
    <div class="desktop_layout">
      <div class="desktop_layout_singular">
        <label for="number-guests">Number of guests</label>
        <input type="number" id="number-guests" placeholder="0" />
      </div>
  
      <div class="desktop_layout_singular">
        <label for="date-event">Date of event</label>
        <input type="date" id="date-event" />
      </div>
    </div>
  
    <label for="message">Message</label>
    <textarea id="message" placeholder="Write us a message"></textarea>
  
    <button type="submit">SEND</button>
  </form>
  
  
</section>

<style>
  .contact-form {
  background-color: #4da6ff;
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
}

.contact-form h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-form p {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  min-height: 120px;
}

button {
  margin-top: 25px;
  padding: 15px 50px;
  font-size: 15px;
  background-color: #fdf1dc;
  color: #012FA8;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover{
  background-color: #012FA8;
  color: white;
  transition: 0.3s ease-in-out, color 0.4s ease-in-out;
}

@media (min-width: 768px) {

  .desktop_layout{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
  }

  .desktop_layout_singular{
    display: block;
  }
}

</style>