

<button>CONTACT</button>

<style>
  button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background: #F9F2E0;
    color:#012FA8;
    font-size: 17.5px;
    letter-spacing: 0.5px;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-family: "Jost", sans-serif;
font-weight: 600;
position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }
</style>


