---
import FilterButton from './FilterButton.astro';
---
<div class="filter">
  <div class="title">
<h3>Filter seasons</h3>
</div>

<div class="filter-wrapper uppercase">
  <FilterButton label="ALL" filter="all" />
  <FilterButton label="SPRING" filter="spring" />
  <FilterButton label="SUMMER" filter="summer" />
  <FilterButton label="AUTUMN" filter="autumn" />
  <FilterButton label="WINTER" filter="winter" />
</div>
</div>

<style>
.filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  flex-direction: row;
}

h3 {
  font-size: 1.8rem;
  color: var(--color-secondary);
  font-weight: 400;
}
  .filter-wrapper {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .filter-wrapper {
    flex-wrap: wrap;
    }
  .filter {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.filter-btn');
    const cards = document.querySelectorAll('[data-season]');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const filter = button.dataset.filter;

        buttons.forEach(btn => btn.classList.remove('active'));
        button.classList.add('active'); //til at se hvilken kategori der er aktivt i brug. Har sat baggrundsfarve på i .filter-btn.active så man kan se det visuelt

        cards.forEach(card => {
          const season = card.dataset.season; // like "spring summer"
          if (filter === 'all' || season.includes(filter)) {
            card.style.display = '';
          } else {
            card.style.display = 'none';
          }
        });
      });
    });
  });
</script>
