<footer>
    <div>
        <p>Please don’t hesitate to contact us about just anything.</p>
        <p>Our mission goes beyond creating meals; we foster connections that engage communities
        and spark conversation around the topics  of food, health, and the environment.</p>
        <p class="inkfree">~ Sincerely, Sophia & Frederik</p>
    </div>

    <div class="social-icons">
        <div class="instagram-icon">
        <a href="https://www.instagram.com/cicrone/" target="_blank" rel="noopener">
            <img src="/assets/some_icons/Instagram_icon.svg" alt="Instagram" />
          </a>
        </div>
          <div class="mail-icon">
          <a href="mailto:studiocicrone@gmail.com">
            <img src="/assets/some_icons/mail_icon.svg" alt="Email" />
          </a>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--color-salmonpink);
        padding: 10vw;
        margin: 100px 0 0 0;
    }

    p {
    text-align: center;
    max-width: 40vw;
    margin: 0 auto;
    min-width: 250px;
    line-height: 25px;
    }

    .inkfree {
    font-family: ink-free, sans-serif;
    padding-top: 25px;
    }

    .social-icons{
display: flex;
flex-direction: row;
justify-content: center;
margin: 5vw 0 0 0;
gap: 10px;
    }

.instagram-icon, .mail-icon{
    height: 30px;
    width: 30px;
}

    .social-icons img{
        height: 100%;
        width: 100%;
    }

    @media (min-width: 768px) {

        footer {
display: flex;
justify-content: center;
align-items: center;
gap: 150px;
padding: 100px;
margin: 200px 0 0 0;
    }

    p {
        font-size: 22.5px;
    max-width: 575px;
    line-height: 35px;
    }

    .social-icons{
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
margin: 0;
    }

    .instagram-icon, .mail-icon{
    height: 60px;
    width: 60px;
}

    .social-icons img{
    height: 100%;
    width: 100%;
    }
    }
</style>