<footer>
    <div>
        <p>Please don’t hesitate to contact us about just anything.</p>
        <p>Our mission goes beyond creating meals; we foster connections that engage communities
        and spark conversation around the topics  of food, health, and the environment.</p>
        <p class="inkfree">~ Sincerely, Sophia & Frederik</p>
    </div>

    <div></div>
</footer>

<style>
    footer {
        background-color: var(--color-salmonpink);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4rem;
    }

    p {
    text-align: center;
    }

    .inkfree {
    font-family: ink-free, sans-serif;
    }
</style>