---
const { isHome = false } = Astro.props;
const { isHomeMobile = false } = Astro.props;
const currentPath = Astro.url.pathname;
---

<header class={isHome ? 'header-home' : ''}>

  <div class="logo">
    <a href="/"><img src="public/assets/logo_svg/logo.svg" fetchpriority="high" alt="Lemon logo"></a>
  </div>

  <div>

  <nav>
    <a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a>
    <a href="/services" class={currentPath === '/services' ? 'active' : ''}>Services</a>
    <a href="/recipes" class={currentPath === '/recipes' ? 'active' : ''}>Recipes</a>
    <a href="/about" class={currentPath === '/about' ? 'active' : ''}>About</a>
  </nav>

</div>

  <div class="burger" >
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<div class="mobile-menu">
  <a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a>
  <a href="/services" class={currentPath === '/services' ? 'active' : ''}>Services</a>
  <a href="/recipes" class={currentPath === '/recipes' ? 'active' : ''}>Recipes</a>
  <a href="/about" class={currentPath === '/about' ? 'active' : ''}>About</a>
</div>

<style>
a {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 1.3rem;
}  

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 3rem;
  background: transparent; 
  color: #012FA8;
}

.header-home{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 3rem;
  background: transparent; 
  color: #fffdf2;
}

    .logo{
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
    }

    .logo img{
        width: 55px;
        height: 100%;
        opacity: 0.75;
        transition: 0.3s ease-in-out, color 0.4s ease-in-out;
    }

    .logo img:hover{
      opacity: 1;
    }

nav {
  justify-self: center;
  display: flex;
  gap: 4rem;
}

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-self: end;
  }

  .burger span {
    width: 30px;
    height: 3px;
    background: #012FA8;
    margin: 4px 0;
    border-radius: 2px;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    gap: 9vh;
    margin-top: 25vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    color: var(--color-primary);
  }

  .mobile-menu a{
    font-size: 3vh;
    font-weight: 900;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  nav a.active,
.mobile-menu a.active {
  position: relative;
  color: var(--color-secondary);
}

nav a.active::after,
.mobile-menu a.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

  @media (max-width: 768px) {
    nav {
      display: none;
    }

    header {
      display: flex;
      justify-content: space-between;
      width: 100%;    
    }

    .burger {
      display: flex;
    }

    .mobile-menu.show {
      display: flex;
      align-items: center;
    }
  }
</style>

<script type="module">
document.addEventListener('DOMContentLoaded', () => {
  const burger = document.querySelector('.burger');
  const mobileMenu = document.querySelector('.mobile-menu');
  const body = document.body;

  burger?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('show');
    body.classList.toggle('no-scroll');  
  });
});

</script>
