<section class="hero">

    <div class="hero-image">
        <video autoplay muted loop playsinline>
            <source src="public/assets/video/cicróne_video.webm" type="video/webm">Your browser does not support the video tag.
</div>
        <div class="hero-logo"><img src="public/assets/imgs_index/index_logo.svg" alt=""></div>
   
</section>


<style>


    /** Hero image styling **/

    .hero {
      display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items:end;
  justify-content: center;
}

.hero-image {
  max-height: 100svh;
}

.hero-image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-logo {
  position: absolute;
  width: 80vw; 
  max-width: 1600px; 
  z-index: 10;
  margin-bottom: 45px;
}

.hero-logo img {
  width: 100%;
  height: auto;
  display: block;
}


</style>