<section class="hero">
  <div class="hero-image">
    <div class="hero-overlay"></div>
    <video autoplay muted loop playsinline preload="none" aria-hidden="true" tabindex="-1" >
      <source src="/assets/video/cicróne_video.webm"  type="video/webm" >
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="hero-logo">
    <img class="desktop" src="/assets/imgs_index/index_logo_2.svg" alt="Logo" />
    <img class="mobile" src="/assets/imgs_index/index_logo_mobile2.svg" alt="Logo" />
  </div>
</section>


<style>


    /** Hero image styling **/

    .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  min-height: 100%;
  min-width: 100%;
}

.hero-image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.119);
  z-index: 1;
}

.hero-logo {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  max-width: 1600px;
  z-index: 10;
  opacity: 0;
  animation: fadeUp 1.2s ease-out 0.5s forwards;
}

.hero-logo .mobile {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.hero-logo .desktop {
 display: none;
}

@media (min-width: 768px) {
      
  .hero-logo .mobile {
 display: none;
}

.hero-logo .desktop {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
}

.hero-logo{
  width: 80vw;
}
    }

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}




</style>