---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/qdh2cnl.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Studio Cicrone</title>
	</head>

	<body>
		<Header />

		<main>
		<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	/* html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	} */

/* main {
	margin: 4rem;
} */
</style>
