---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";

const { isHome = false, isHomeMobile = false, description = "Standard beskrivelse af Studio Cicrone" } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width"/>
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="public/assets/logo_svg/logo.svg" />
		<!-- fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/qdh2cnl.css">
			<link rel="preload" href="https://fonts.googleapis.com">
			<link rel="preload" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
			<link rel="preload" as="image" href="/assets/logo_svg/logo.svg" type="image/svg+xml" />
		<title>Studio Cicrone</title>
	</head>

	<body>
		
		<Header isHome={isHome}  />

		<main>
		<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	/* html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	} */

/* main {
	margin: 4rem;
} */
</style>
